<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Meaning cloud analyzer</title>
</head>

<body>

    <main>
        <section>
            <form onsubmit="return false">
                <input id="url" type="text" placeholder="Enter a URL to be analyzed" required>
                <input id="sub" type="submit">
            </form>
        </section>
        <section>
            <h1>Form Results:</h1>
            
            <div id="results">
                <dl class="gradient-list">
                    <dt>Text</dt>

                    <dd id="text"> </dd> 

                    
                    <dt>Score tag</dt>

                    <dd id="score"></dd>

                    
                    <dt>Agreement</dt>

                    <dd id="agreement"></dd>

                    

                    <dt>Subjectivity</dt>

                    <dd id="subjectivity"></dd>


                    
                    <dt>Confidence</dt>

                    <dd id="confidence"></dd>


                    <dt>Irony</dt>
                    
                    <dd id="irony"></dd>
                </dl>
            </div>
        </section>
    </main>
</body>

</html>