<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Meaning cloud analyzer</title>
</head>

<body>
 
    <main>
        <section>
            <form  onsubmit="return handleSubmit(event)">
                <input id="id" type="text" placeholder="Enter a URL to be analyzed" required>
                <input id="sub"type="submit"  onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
        </section>
        <section>
            <h1>Form Results:</h1>
            <br/><br/><br/><br/>
            <div id="results">
                <dl class="gradient-list">
                    <dt >Text</dt>
                    <dd id="text"></dd> <br/>
                    <dt >Score tag</dt>
                    <dd id="score"></dd><br/>
                    <dt>Agreement</dt>
                    <dd id="agreement"></dd><br/>
                    <dt>Subjectivity</dt>
                    <dd id="subjectivity"></dd><br/>
                    <dt>Confidence</dt>
                    <dd id="confidence"></dd><br/>
                    <dt>Irony</dt>
                    <dd id="irony"></dd>
                  </dl>
            </div>
        </section>
    </main>
</body>

</html>