<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Meaning cloud analyzer</title>
</head>

<body>
 
    <main>
        <section>
            <form  onsubmit="return handleSubmit(event)">
                <input id="id" type="text" placeholder="Enter a URL to be analyzed" required>
                <input id="sub"type="submit"  onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
            </form>
        </section>
        <section>
            <strong>Form Results:</strong>
            <div id="results">
                <ol class="gradient-list">
                    <li id="text">text</li>
                    <li id="score_tag">score_tag</li>
                    <li id="agreement">agreement</li>
                    <li id="subjectivity">subjectivity</li>
                    <li id="confidence">confidence</li>
                    <li id="irony">irony</li>
                  </ol>
            </div>
        </section>
    </main>
</body>

</html>