
  dl {
    margin-top: 40px;
    display: flex;
    flex-flow: column wrap;
    max-height: 6em;
    border: 1px solid #333;
    
    transition: 1s ease-in-out;
    width:1000px;
    max-width: 1000px;
  }
  dt {
    padding: 4px 4px;
    background: rgb(243, 97, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bolder;
    transition: 1s ease-in-out;

  }
  dd {
    margin: 0;
    padding:4px;
    padding-top:  22px;
    
    min-height: 4em;
    background: #f8f4e5;
    color: rgb(12, 11, 11);
    font-weight: bolder;
  }

