
  dl {
    display: flex;
    flex-flow: column wrap;
    max-height: 6em;
    border: 1px solid #333;
    transition: .5s ease-in-out;
    width: 1000px;
  }
  dt {
    padding: 4px 4px;
    background: rgb(243, 97, 0);
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bolder;
    transition: .5s ease-in-out;

  }
  dd {
    margin: 0;
    padding: 4px;
    min-height: 3em;
    background: #f8f4e5;
    color: #333;
  }

